<span nz-tooltip nzTooltipTitle="Opciones" (click)="goAcciones()" *ngIf="id">
    <button class="button is-info">
        <span class="icon">
            <i class="far fa-hand-spock"></i>
        </span>
    </button>
</span>

<nz-drawer [nzClosable]="false" [nzWidth]='"90%"' [nzVisible]="isVisible" nzPlacement="right" [nzTitle]="seleccionada.titulo"
    (nzOnClose)="isVisible=false">
    <ng-container>

        <section class="hero">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-four-fifths">
                        <nz-range-picker [(ngModel)]="rango" [ngModelOptions]="{standalone: true}" style="width: 100%;">
                        </nz-range-picker>
                    </div>
                    <div class="column">
                        <button class="button is-link" (click)="consultar()">Consultar</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="columns">
            <div class="column">
                <label class="label">{{opciones?.length}} opciones</label>
                <div class="field is-grouped">
                    <button class="button is-danger mr-2" (click)="eliminarRegistrado()"
                        [disabled]='!opcionSeleccionada'>
                        <span class="icon">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </button>

                    <button class="button is-alert mr-2" (click)="editarRegistro()" [disabled]='!opcionSeleccionada'
                        *ngIf="currentTemplate == 'tabla'">
                        <span class="icon">
                            <i class="fas fa-pen"></i>
                        </span>
                    </button>

                    <button class="button is-success" (click)="registrarNuevo()" *ngIf="currentTemplate == 'tabla' ">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>

                <nz-spin [nzSpinning]="cargandoOpciones">
                    <div class="select is-multiple">
                        <select multiple size="15" [(ngModel)]="opcionSeleccionada">
                            <option *ngFor="let e of opciones" [value]="e">{{e.opcion}}</option>
                        </select>
                    </div>
                </nz-spin>
            </div>
            <div class="column is-four-fifths">

                <div [ngSwitch]="currentTemplate">

                    <div *ngSwitchCase="'tabla'">
                        <ng-container *ngIf="false; else tabla"></ng-container>
                    </div>
                    <div *ngSwitchDefault>
                        <ng-container *ngIf="false; else form"></ng-container>
                    </div>
                </div>

            </div>

        </div>

        <div style='position: absolute;
        bottom:0;
        background: white;
        width:100%; 
        height:60px;'>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link is-light" (click)="isVisible=false">Cerrar</button>
                </div>
                <!-- <div class="control">
                    <button class="button is-link" (click)="enviar()">Aceptar</button>
                </div> -->
            </div>
        </div>

    </ng-container>


    <ng-template #form>

        <label class="label">{{editando ? 'Editar' : 'Agregar'}} opción</label>

        <br /> <br />

        <div class="field" *ngFor="let fControl of itemsFormulario">
            <form nz-form [formGroup]="validateForm">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="fControl.errorMessage">
                        <label class="label">{{fControl.label}}</label>
                        <div class="control">
                            <div [ngSwitch]="fControl.type">
                                <ng-container *ngSwitchCase="'select'">
                                    <nz-select [formControlName]="fControl.value"
                                        [nzPlaceHolder]="fControl.placeholder">
                                        <nz-option *ngFor="let i of fControl.data" [nzValue]="i.id"
                                            [nzLabel]="i.descripcion"></nz-option>
                                    </nz-select>
                                </ng-container>

                                <ng-container *ngSwitchDefault>
                                    <input class="input" [formControlName]="fControl.value" type="fControl.type"
                                        [placeholder]="fControl.placeholder">
                                </ng-container>
                            </div>

                        </div>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>

        <div class="field is-grouped">

            <div class="control">
                <button class="button is-link" (click)="handleOkEvent()">{{editando ? 'Editar' : 'Agregar'}}</button>
            </div>

            <div class="control">
                <button class="button is-link is-light" (click)="handleCancel()">Cancelar</button>
            </div>
        </div>

    </ng-template>

    <ng-template #tabla>
        <label class="label" *ngIf="!cargandoTabla">Listado de respuestas: {{textoFechas}}</label>


        <app-card-buttons [data]='dataToExport' [label]="'encuestas'" *ngIf="detalles?.length > 0"></app-card-buttons>

        <div class="is-justify-content-flex-end" *ngIf="!cargandoTabla">
            <label class="label">{{detalles?.length}} respuestas. </label>
        </div>

        <div [hidden]="!detalles">

            <div *ngIf="cargandoTabla">
                <div [hidden]="!(detalles?.length == 0)">
                    <section class="hero">
                        <div class="hero-body">
                            <div class="container">
                                <h1>No existe información para mostrar.</h1>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div [hidden]="!(detalles?.length > 0)">
                <nz-table #basicTable [nzData]="dataSet" [nzPageSize]='10' [nzLoading]='cargandoTabla'>
                    <thead>
                        <tr>
                            <th>Persona</th>
                            <th>Opcion</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data; let i=index">
                            <td>{{data?.Personal_Empresa.nombreCompleto}}</td>
                            <td>{{data.idopcionencuesta != null ? data.EncuestaOpcion?.opcion : 'OM:
                                '+data?.opcionmanual}}</td>
                            <td>{{data.hora | date :'short' }}</td>
                        </tr>
                    </tbody>
                </nz-table>

                <div class="is-justify-content-flex-end" style="background-color: #f9F9f9;">
                    <div class="p-0">

                    </div>
                    <section class="hero">
                        <div class="hero-body">
                            <div class="container">
                                <label class="label">Gráfico de barras</label>
                            </div>
                        </div>
                    </section>

                    <canvas id="chart" #chart width="100%" height="40vh">{{chart}}</canvas>


                    <div class="p-0">

                    </div>
                    <section class="hero">
                        <div class="hero-body">
                            <div class="container">
                                <label class="label">Gráfico circular</label>
                            </div>
                        </div>
                    </section>

                    <div style="display: flex; justify-content: center; align-items: center;">
                        <div style="width:40%; height:300px;">
                            <canvas id="chartCircle" #chartCircle>{{chartCircle}}</canvas>
                        </div>
                    </div>

                    <section class="hero">
                        <div class="hero-body">
                            <div class="container">
                            </div>
                        </div>
                    </section>

                </div>

            </div>

        </div>
        <div [hidden]="!cargandoTabla">

            <div class="example">
                <nz-spin nzSimple></nz-spin>
            </div>

        </div>


        <section class="hero">
            <div class="hero-body">
                <div class="container">
                </div>
            </div>
        </section>
    </ng-template>




</nz-drawer>