<span nz-tooltip nzTooltipTitle="Preguntas" (click)="goAcciones()" *ngIf="id">
    <button class="button is-info">
        <span class="icon">
            <i class="far fa-hand-spock"></i>
        </span>
    </button>
</span>

<nz-drawer [nzClosable]="false" [nzWidth]='"90%"' [nzVisible]="isVisible" nzPlacement="right"
    [nzTitle]="seleccionada.titulo" (nzOnClose)="isVisible=false">
    <ng-container>
        
        <div [ngSwitch]="currentTemplate">

            <div *ngSwitchCase="'nueva_pregunta'" [ngTemplateOutlet]="nueva_pregunta"></div>

            <div *ngSwitchCase="'tabla'">
                <ng-container *ngTemplateOutlet="tabla"></ng-container>
            </div>

            <div *ngSwitchDefault>
                
            </div>

        </div>

        <div style='position: absolute;
        bottom:0;
        background: white;
        width:100%; 
        height:60px;'>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link is-light" (click)="isVisible=false">Cerrar</button>
                </div>
            </div>
        </div>

    </ng-container>

    <ng-template #formPregunta>

        <nz-spin nzTip="Cargando..." [nzSpinning]="isLoading">
            <label class="label">{{editando ? 'Editar' : 'Agregar'}} pregunta</label>

            <br /> <br />

            <div class="field" *ngFor="let fControl of itemsFormularioPregunta">
                <form nz-form [formGroup]="validateForm">
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="fControl.errorMessage">
                            <label class="label">{{fControl.label}}</label>
                            <div class="control">
                                <div [ngSwitch]="fControl.type">
                                    <ng-container *ngSwitchCase="'select'">
                                        <nz-select [formControlName]="fControl.value"
                                            [nzPlaceHolder]="fControl.placeholder">
                                            <nz-option *ngFor="let i of fControl.data" [nzValue]="i.id"
                                                [nzLabel]="i.descripcion"></nz-option>
                                        </nz-select>
                                    </ng-container>

                                    <ng-container *ngSwitchDefault>
                                        <input class="input" [formControlName]="fControl.value" type="fControl.type"
                                            [placeholder]="fControl.placeholder">
                                    </ng-container>
                                </div>

                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>

            <label class="label">Opciones </label>

            <div class="columns is-multiline">
                <div class="column is-3">
                    <div class="field is-flex is-justify-content-space-around">
                        <a class="button is-rounded is-success" nz-tooltip nzTooltipTitle="Agregar" (click)="accionOpcion='nueva_opcion';">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </a>
                        <span nz-tooltip nzTooltipTitle="Editar" [hidden]="!opcionSelected" (click)="goEditarOpcion(opcionSelected)">
                            <button class="button is-warning">
                                <span class="icon">
                                    <i class="fas fa-pen"></i>
                                </span>
                            </button>
                        </span>
                        <span nz-tooltip nzTooltipTitle="Eliminar" [hidden]="!opcionSelected" 
                        (click)="eliminarOpcion(indexOpcionSelected)">
                            <button class="button is-danger">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="columns" *ngIf="accionOpcion=='nueva_opcion' || accionOpcion=='editar_opcion'">
                <div class="column is-10">
                    <input class="input" type="text" [placeholder]="'Opción de la pregunta'" [(ngModel)]="valueOpcion">
                </div>
                <div class="column is-4">
                    <button class="button is-info" (click)="agregarOpcion()">{{accionOpcion =='editar_opcion' ? 'Editar' : 'Agregar'}}</button>
                </div>
            </div>

            <div style="padding: 1rem 0;">
                <div *ngFor="let i of opcionesPregunta; let index=index">
                    <div (click)="changeOpcion(i, index)">
                        <input 
                    
                    class="input" 
                    type="text" 
                    [ngStyle]="{
                        'background': opcionSelected?.opcion == i?.opcion ? '#0000ff' : i.id==null ? '#00c853' :i.id==-1   ? '#ff0000' : '#f1f1f1',
                        'color': opcionSelected?.opcion == i?.opcion ? '#fff' : i.id==null ? '#000' :i.id==-1   ? '#fff' : '#000',
                        'text-decoration' : i.id==-1 ? 'line-through' : 'none',
                        'cursor' : 'pointer'}"
                    value="{{index+1}}) {{i.opcion}}"
                    disabled
                    [placeholder]="'Opción de la pregunta'">
                    </div>
                </div>
            </div>

            <div style="padding: 1rem;"></div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" (click)="handleOkEvent()">{{editando ? 'Editar' :
                        'Agregar'}}</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" (click)="handleCancel()">Cancelar</button>
                </div>
            </div>

            <div style="padding: 3rem;"></div>

        </nz-spin>

    </ng-template>

    
    
    <ng-template #tabla>

        <label class="label" *ngIf="!cargandoPreguntas">Listado de preguntas</label>

        <ng-container *ngTemplateOutlet="buttons"></ng-container>
        

        <div class="is-justify-content-flex-end" *ngIf="!cargandoPreguntas">
            <label class="label">{{preguntas?.length}} preguntas. </label>
        </div>

        <nz-table #basicTable [nzData]="preguntas" [nzPageSize]='10' [nzLoading]='cargandoPreguntas'>
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Tipo</th>
                    <th>Pregunta</th>
                    <th>Opción manual</th>
                    <th>Opciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of basicTable.data; let i=index">
                    <td>{{i + 1}}</td>
                    <td>{{data?.idtipopregunta == 1 ? 'Respuesta única' : 'Opción multiple'}}</td>
                    <td>{{data.pregunta}}</td>
                    <td>{{data.permitirOpcionManual ? 'Si' : 'No'}}</td>
                    <td>{{data?.Opcions?.length}} opciones</td>
                    <td>
                        <span nz-tooltip nzTooltipTitle="Editar" (click)="showUpdatePreguntaConfirm(data)">
                            <button class="button is-warning">
                                <span class="icon">
                                    <i class="fas fa-pen"></i>
                                </span>
                            </button>
                        </span>
        
                        <span nz-tooltip nzTooltipTitle="Eliminar" (click)="showDeletePreguntaConfirm(data['id'])">
                            <button class="button is-danger">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </nz-table>

        <section class="hero">
            <div class="hero-body">
                <div class="container">
                </div>
            </div>
        </section>
    </ng-template>

    <ng-template #nueva_pregunta>
        <ng-container *ngTemplateOutlet="formPregunta"></ng-container>
    </ng-template>

</nz-drawer>



<ng-template #buttons>
    
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-four-fifths">
                    <div class="box">
                        <div class="columns is-multiline">
                            <div class="column is-12">
                                <div class="field is-flex is-justify-content-space-around">
                                    
                                    <a class="button is-rounded is-success" *ngIf="goNuevaPregunta" (click)="goNuevaPregunta()" nz-tooltip nzTooltipTitle="Agregar">
                                        <span class="icon">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </a>
                                    
                                    <a *ngIf="!data" class="button is-rounded is-info" disabled>
                                        <span class="icon is-small">
                                            <i class="fas fa-code"></i>
                                        </span>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column"></div>
            </div>
        </div>
    </div>
</section>
</ng-template>

