<!-- <div class="columns">
    <div class="column" style="background-color: aqua;">
        <div class="container">
            <div class="card-image has-text-centered">
                <figure class="image is-64x64 is-inline-block">
                    <img src="./assets/images/ic_logo.png"/>
                </figure>
            </div>
            <div>
                
            </div>
        </div>
    </div>
    <div class="column">
      Second column
    </div>
  </div> -->

<div class="is-flex" style="height: 100%;">
    <div class="is-flex-grow-1" style="height: 100%;">
        <div class="is-flex is-flex-direction-column" style="height: 100%;">
            <div class="is-flex-grow-2 is-flex is-justify-content-center  is-align-items-center" style="background-color:blue;">
                <div class="card-image has-text-centered">
                    <figure class="image is-64x64 is-inline-block">
                        <img src="./assets/images/ic_logo.png"/>
                    </figure>
                </div>
            </div>
            <div class="is-flex-grow-1 is-flex is-justify-content-center" style="background-color: aqua;">
                CANASTAS
            </div>
        </div>
    </div>
    <div class="is-flex-grow-1">DIV 2</div>
</div>