<nz-modal [(nzVisible)]="isVisible" [nzFooter]="modalFooter" nzTitle="{{editando ? 'Editar' : 'Agregar'}} {{titulo}}" nzClosable='false'>
    <form nz-form [formGroup]="validateForm">
        <ng-container>
            <div class="field" *ngFor="let fControl of itemsFormulario">
                <nz-form-item>
                    <nz-form-control [nzErrorTip]="fControl.errorMessage">
                        <label class="label">{{fControl.label}}</label>
                        <div class="control">
                            <div [ngSwitch]="fControl.type">
                            <ng-container *ngSwitchCase="'select'">
                                <nz-select [formControlName]="fControl.value" [nzPlaceHolder]="fControl.placeholder">
                                    <nz-option *ngFor="let i of fControl.data" [nzValue]="i.id" [nzLabel]="i.descripcion"></nz-option>
                                </nz-select>
                            </ng-container>
                            <ng-container *ngSwitchCase="'range-time-picker'">
                                <ng-container *ngIf="fControl.data.length > 0 && editando; else elseTemplateDatePicker">
                                    <nz-range-picker [(ngModel)]="fControl.data" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="onChange($event, fControl.value)" style="width: 100%;"></nz-range-picker>
                                </ng-container>
                                <ng-template #elseTemplateDatePicker>
                                    <nz-range-picker [(ngModel)]="fControl.data" [ngModelOptions]="{standalone: true}"
                                     (ngModelChange)="onChange($event, fControl.value)" style="width: 100%;"></nz-range-picker>
                                </ng-template>
                                
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <input class="input" [formControlName]="fControl.value" type="fControl.type"
                                    [placeholder]="fControl.placeholder">
                            </ng-container>
                            </div>

                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </ng-container>
        <ng-template #modalFooter>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link is-light" (click)="handleCancel()">Cancelar</button>
                </div>
                <div class="control">
                    <button class="button is-link" (click)="handleOkEvent()">Aceptar</button>
                </div>
            </div>
        </ng-template>
    </form>
</nz-modal>