<app-card-buttons [data]='data' [agregar]='agregar' [label]="'productos'"></app-card-buttons>
<app-tabla-simple [data]='data' [item]="'producto'" [labels]='labels' [remove]='remove' [update]='update' [loading]='loading'></app-tabla-simple>

<app-form-simple [titulo]='"producto"' 
[editando]='editando'
[data]='datoSelected'
[handleOkEdit]='handleOkEdit'
[itemsFormulario]='itemsFormulario' [isVisible]='isVisible' [handleOk]='handleOk' [handleCancel]='handleCancel' (valueResponse)="valueResponse($event)"></app-form-simple>