<app-card-buttons [data]='data' [agregar]='agregar' [label]="'encuestas'"></app-card-buttons>
<app-tabla-simple [data]='data' [item]="'encuesta'" [labels]='labels' [remove]='remove' [update]='update' [isTemporada]='true' [loading]='loading'></app-tabla-simple>

<app-form-simple [titulo]='"encuesta"' 
[editando]='editando'
[data]='datoSelected'
[handleOkEdit]='handleOkEdit'
[itemsFormulario]='itemsFormulario' 
[isVisible]='isVisible' 
[handleOk]='handleOk' 
[handleCancel]='handleCancel' 
(valueResponse)="valueResponse($event)"></app-form-simple>
